<div class="bg-image"></div>
<div class="modal-header">
  <h1 mat-dialog-title>{{ data.title }}</h1>
  <div class="ml-auto">
    <button (click)="onClose()" class="p-0 btn btn-close">
      <i class="material-icons">close</i>
    </button>
  </div>
</div>
<mat-dialog-content>
  <p>{{ data.message }}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false" class="btn btn-default btn-sm">
    Cancel
  </button>
  <button
    mat-button
    [mat-dialog-close]="true"
    class="btn btn-primary btn-sm"
    cdkFocusInitial
    color="accent"
  >
    Ok
  </button>
</mat-dialog-actions>
