<div class="container-fluid">
  <div class="row login-screen">
    <div class="login-bg col-lg-7 p-0">
      <img src="assets/images/login-bg.jpg" alt="login-bg" />
    </div>
    <div class="login-section col-lg-5">
      <div class=" p-3">
        <div class="logo mb-3"><img src="assets/images/login-login.png" /></div>
        <form [formGroup]="bForm">
          <mat-form-field class="display-block">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" required />
            <!-- <mat-error
        *ngIf="!bForm.controls.name.valid && bForm.controls.name.dirty"
      >
        Name required
      </mat-error> -->
          </mat-form-field>
          &nbsp;
          <mat-form-field class="display-block">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" required />
            <!-- <mat-error
        *ngIf="!bForm.controls.name.valid && bForm.controls.name.dirty"
      >
        Description required
      </mat-error> -->
          </mat-form-field>
          <!-- <section class="example-section">
        <mat-checkbox value="checked" formControlName="rememberMe">
          <label class="mb-0">Remember Me</label>
        </mat-checkbox>
      </section> -->
          <div class="form-group">
            <button mat-raised-button color="primary" class="btn btn-secondary btn-login" [disabled]="!bForm.valid"
              (click)="onLogin()">
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
