<div class="container-fluid">
  <div class="privacy-screen row">
    <div class="privacy-bg col-lg-7 p-0">
      <img src="assets/images/login-bg.jpg" alt="login-bg" />
    </div>
    <div class="privacy-section col-lg-5">
      <div class="">
        <div class="logo"><img src="assets/images/login-login.png" /></div>
        <br />
        <h3><b>TERMS OF USE AGREEMENT</b></h3>
        <br />
        <p>
          LAST UPDATED: February 11, 2021
          <br /><br />
          Thank you for using ASK! Please read these terms of service in detail.
          By using our application or any related services (the ASK service),
          you agree to all terms described here and all terms incorporated by
          reference (“Terms” or “Terms of Service”).
        </p>
      </div>
    </div>
  </div>
</div>
