<div class="container-fluid">
  <div class="privacy-screen row">
    <div class="privacy-bg col-lg-7 p-0">
      <img src="assets/images/login-bg.jpg" alt="login-bg" />
    </div>
    <div class="privacy-section col-lg-5">
      <div class="">
        <div class="logo"><img src="assets/images/login-login.png" /></div>
        <br />
        <h3><b>PRIVACY POLICY</b></h3>
        <br />
        <p>
          <b>GENERAL</b>
          <br /><br />
          Add your privacy policy here
        </p>
      </div>
    </div>
  </div>
</div>
